<h1>characters datatable</h1>
<p-table #dt [value]="characters" [paginator]="true" [rows]="10" [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="house">House <p-sortIcon field="house"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th>Species</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="filterTable($event.target, 'name', 'contains', dt)" placeholder="Filter by name" />
        </th>
        <th>
          <input pInputText type="text" (input)="filterTable($event.target, 'house', 'contains', dt)" placeholder="Filter by house" />
        </th>
        <th>
          <p-dropdown [options]="statuses" (onChange)="filterTable($event, 'status', 'equals', dt)" placeholder="Filter by status"></p-dropdown>
        </th>
        <th>
          <input pInputText type="text" (input)="filterTable($event.target, 'species', 'contains', dt)" placeholder="Filter by species" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-character>
      <tr>
        <td>{{ character.name }}</td>
        <td>{{ character.house }}</td>
        <td>
          <span [ngClass]="getSeverity(character.hogwartsStudent ? 'student' : character.hogwartsStaff ? 'staff' : 'other')">
            {{ character.hogwartsStudent ? 'Student' : character.hogwartsStaff ? 'Staff' : 'Other' }}
          </span>
        </td>
        <td>{{ character.species }}</td>
        <td>
          <img [src]="character.image" alt="{{ character.name }}" width="72" height="100" *ngIf="character.image; else noImage" />
          <ng-template #noImage> <span>No Image</span> </ng-template>
        </td>
      </tr>
    </ng-template>
</p-table>