<!-- src/app/character-dashboard/character-dashboard.component.html -->
<div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">

    <div>
        <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [type]="pieChartType"
            style="width: 600px; height: 600px;">
        </canvas>
    </div>

    <div>
        <canvas baseChart
            [data]="polarChartData"
            [options]="polarChartOptions"
            [type]="polarChartType"
            style="width: 600px; height: 600px;">
        </canvas>
    </div>

</div>

